body
{
    background-color: rgba(240, 240, 240);
}
#main
{
    float: left;
    
    width: 100%;
}
.row
{
    display: flex;
    width: 100%;
}
.box
{
    display: block;
    margin: 50px;
    width: 150px;
    height: 150px;
    background-color: rgba(44, 54, 64, 0.9);
    position: relative;
    font-size: 100px;
    color: rgb(230, 230, 230);
    text-align: center;
    border-radius: 50%;
}
span
{
    vertical-align: middle;
}
button {
    background-color: rgba(44, 54, 64, 0.9);
    border: none;
    color: rgb(230, 230, 230);
    padding: 20px;
    text-align: center;
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
  }
#recorddiv
{
    display: flex;
}
.Rdiv
{
    padding: 50px;
    text-align: center;
    font-size: 20px;
}
